@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;   
@use '../../styles/partials/fonts' as *;
@import '../../styles/partials/mixins';



.video-container{
    display: flex;
    justify-content: center;
    background-color: $colorSecDark;
    
    &__Image{
        max-inline-size: 100%;
        width: 100%;
        aspect-ratio: 1.77;
        background-color: $colorSecDark;
        @include responsiveness('tablet') {
            max-inline-size: 88%;
        }
        @include responsiveness('desktop') {  
            max-inline-size: 70%;       
        }
       }
}