* {
  box-sizing: border-box;
  word-wrap: break-word;
}

body {
  font-family: "AvenirNext LT Pro", sans-serif;
  margin: 0px;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem;
}
.header__logo {
  max-inline-size: 100%;
  width: 50%;
  line-height: 1.5rem;
}
.header__functionalities {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}
.header__search {
  order: 1;
  width: 80%;
  border: 2px blue solid;
  background-image: url("./assets/Icons/search.svg");
  background-position: left center;
  background-repeat: no-repeat;
}
.header__upload {
  order: 3;
  width: 100%;
  font-size: 0.7rem;
  line-height: 3rem;
  font-weight: 700;
  background-color: #0095FF;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  border: 0px;
}
.header__upload:hover {
  background-color: #0065AD;
}
.header__image {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin-top: 2rem;
  order: 2;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .header__image {
    margin-top: 3rem;
  }
}
@media (min-width: 1280px) {
  .header__image {
    margin-top: 3rem;
  }
}

.video-Image {
  max-inline-size: 100%;
  width: 100%;
  aspect-ratio: 1.6;
  background-image: url("./assets/Icons/search.svg");
}

.main-video {
  margin: 1rem;
}
.main-video__header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
.main-video__info {
  border-top: 1px #E1E1E1 solid;
  border-bottom: 1px #E1E1E1 solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-video__info1 {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main-video__author {
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-weight: 700;
  margin-bottom: 0px;
}
.main-video__date {
  color: #AFAFAF;
}
.main-video__info2 {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main-video__views {
  color: #AFAFAF;
  margin-bottom: 0px;
}
.main-video__likes {
  color: #AFAFAF;
}
.main-video__text {
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-weight: 400;
  color: #323232;
}

.comment {
  margin: 1rem;
}
.comment__amount {
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-weight: 700;
}
.comment__subdivision {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  padding-bottom: 1.2rem;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .comment__subdivision {
    justify-content: end;
  }
}
@media (min-width: 1280px) {
  .comment__subdivision {
    justify-content: end;
    padding-right: 12rem;
    margin-left: 14rem;
    flex: 1 0 0;
  }
}
.comment__image {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin-top: 2rem;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .comment__image {
    margin-top: 3rem;
  }
}
@media (min-width: 1280px) {
  .comment__image {
    margin-top: 3rem;
  }
}
.comment__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 76%;
  margin-left: 1rem;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .comment__form {
    min-width: 83%;
  }
}
@media (min-width: 1280px) {
  .comment__form {
    flex: 1 0 0;
  }
}
.comment__form-Label {
  margin: 0px;
  color: #AFAFAF;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
  font-size: 0.7rem;
  line-height: 1.25rem;
  font-weight: 600;
}
.comment__form-Input {
  width: 100%;
  border-radius: 0.25rem;
  padding: 0.75rem;
  background-color: #FAFAFA;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .comment__form-Input {
    padding: 1rem;
  }
}
@media (min-width: 1280px) {
  .comment__form-Input {
    padding: 1rem;
  }
}
.comment__submit-Button {
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-radius: 0.2rem;
  border: 0px;
  margin-top: 1.5rem;
  font-size: 0.7rem;
  line-height: 1.25rem;
  font-weight: 700;
  background-color: #0095FF;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .comment__submit-Button {
    width: 25%;
    align-self: end;
  }
}
@media (min-width: 1280px) {
  .comment__submit-Button {
    width: 30%;
    align-self: end;
  }
}
.comment__submit-Button--text {
  margin: 0px;
  text-align: center;
}
.comment__user {
  border-top: 1px #E1E1E1 solid;
  border-bottom: 1px #E1E1E1 solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .comment__user {
    justify-content: end;
    margin-left: 2rem;
  }
}
@media (min-width: 1280px) {
  .comment__user {
    margin-right: 12rem;
    justify-content: end;
    margin-left: 14rem;
    flex: 1 0 0;
  }
}
.comment__user-Image {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: #E1E1E1;
}
.comment__user-Info {
  flex: 1 1 76%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .comment__user-Info {
    min-width: 88%;
    margin-left: 1rem;
  }
}
@media (min-width: 1280px) {
  .comment__user-Info {
    max-width: none;
    margin-left: 1rem;
    flex: 1 0 0;
  }
}
.comment__user-Name {
  margin: 0px;
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-weight: 700;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .comment__user-Name {
    font-size: 0.9rem;
  }
}
@media (min-width: 1280px) {
  .comment__user-Name {
    font-size: 0.9rem;
  }
}
.comment__user-Date {
  margin: 0px;
  color: #AFAFAF;
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-weight: 400;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .comment__user-Date {
    font-size: 0.9rem;
  }
}
@media (min-width: 1280px) {
  .comment__user-Date {
    font-size: 0.9rem;
  }
}
.comment__user-Text {
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-weight: 400;
  margin-bottom: 0px;
  min-width: 100%;
  color: #323232;
}

.side-videos {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
.side-videos__header {
  color: #AFAFAF;
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-weight: 600;
}
.side-videos__Item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-bottom: 1rem;
}
.side-videos__Image {
  border-radius: 10%;
  max-inline-size: 100%;
  block-size: auto;
  width: 40%;
  aspect-ratio: 1.4;
}
.side-videos__Info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding-left: 0.5rem;
}
.side-videos__Name {
  font-size: 0.8rem;
  line-height: 1.3rem;
  font-weight: 700;
  margin: 0px;
  flex: 1 1 100%;
}
.side-videos__Creator {
  color: #323232;
  margin: 0px;
}/*# sourceMappingURL=App.css.map */