@use './styles/partials/global' as *;
@use './styles/partials/variables' as *;   
@use './styles/partials/fonts' as *;
@import './styles/partials/mixins';

.header  {
    display: flex;
    flex-direction: column;
    border: 2px red solid;
    flex-wrap: wrap;
    align-content: center;
    margin: 1rem;
    &__logo{
        max-inline-size: 100%;
        border: 2px red solid;
        width: 50%;
        
    }
    &__functionalities{
       display: flex;
       flex-direction: row;

    }
    &__search{
       order: 1;
       width: 100%;
       border: 2px red solid;
       background-image: url('./assets/Icons/search.svg');
       background-position: left center;
       background-repeat: no-repeat;
    }

    &__upload{
        order: 3;
        width: 100%;
        border: 2px red solid;
    }

    &__image{
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        margin-top: 2rem;
        order: 2;
        @include responsiveness('tablet') {
            margin-top: 3rem;
        
        }
        @include responsiveness('desktop') {
            margin-top: 3rem;
            
        }
        
    }

}

.main{}

.video-Image{
    max-inline-size: 100%;
    width: 100%;
    aspect-ratio: 1.6;
    background-image: url('./assets/Icons/search.svg');

}

.main-video{

    &__header{}

    &__info{}

    &__info1{}
    
    &__author{}

    &__date{}

    &__info2{}

    &__views{}

    &__likes{}

    &__details{}
    
    &__text{} 
}


.comment{
    &__amount{}
    &__subdivision{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: end;
        padding-bottom: 1.2rem;
        
        @include responsiveness('tablet') {
            justify-content: end;
        }
        @include responsiveness('desktop') {
            justify-content: end;
            padding-right: 12rem;
            margin-left: 14rem;
            flex: 1 0 0;
        }}
    &__image{
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        margin-top: 2rem;
        @include responsiveness('tablet') {
            margin-top: 3rem;
        
        }
        @include responsiveness('desktop') {
            margin-top: 3rem;
            
        }
    }
    &__form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        min-width: 70%;
        
        margin-left: 1rem;
        @include responsiveness('tablet') {
            min-width: 83%;
        }
        @include responsiveness('desktop') {
            flex: 1 0 0;
                   
        }
    }
    &__form-Label{
        margin: 0px;
        // color: $colorS;
        margin-bottom: 0.5rem;
        margin-top: 1.5rem;
        @include SizeLineWeight(0.9rem, 1.1rem, 400);
    }
    &__form-Input{
        // border: 1px solid $colorSecMer;
        
        width: 100%;
        border-radius: 0.25rem;
        padding: 0.75rem;
        // background-color: $colorSecAl;

        @include responsiveness('tablet') {
            
            padding: 1rem;
            
        }
        @include responsiveness('desktop') {
            padding: 1rem;
        }

    }
    &__submit-Button{
        width: 100%;
        // background-color: $colorB;
        // color: $colorW;
        text-align: center;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        border-radius: 0.2rem;
        border: 0px;
        margin-top: 1.5rem;
        @include responsiveness('tablet') {
            width: 25%;
            align-self: end;
            
        }
        @include responsiveness('desktop') {
            width: 30%;
            align-self: end;
            
        }
    }

    &__display{}
    &__user{
        // border-top: 1px $colorSecMer solid;
        // border-bottom: 1px $colorSecMer solid;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: end;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        

        @include responsiveness('tablet') {
            justify-content: end;
            margin-left: 2rem;
        }
        @include responsiveness('desktop') {
            margin-right: 12rem;
            justify-content: end;
            margin-left: 14rem;
            flex: 1 0 0;
        }
    }
    &__user-Image{
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        // background-color: $colorSecMer;
        
    }
    &__user-Info{
        width: 70%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-left: 1rem;
        
        @include responsiveness('tablet') {
            min-width: 88%;
            margin-left: 1rem;
        }
        @include responsiveness('desktop') {
            
            max-width: none;
            margin-left: 1rem;
            flex: 1 0 0;
              
        }
    }

    &__user-Name{
        margin: 0px;
        @include SizeLineWeight(0.7rem, 1.1rem, 700);
        @include responsiveness('tablet') {
            font-size: 0.9rem;
        }
        @include responsiveness('desktop') {
            font-size: 0.9rem;
        }
    }
    &__user-Date{
        margin: 0px;
        // color: $colorS;
        // @include SizeLineWeight(0.7rem, 1.1rem, 400);
        
        @include responsiveness('tablet') {
            font-size: 0.9rem;
        }
        @include responsiveness('desktop') {
            font-size: 0.9rem;
        }
    }
    &__user-Text{
        @include SizeLineWeight(0.9rem, 1.1rem, 400);
        margin-bottom: 0px;
        min-width: 100%;

    }
}

.side-videos{
    display: flex;
    flex-direction: column;
    
    &__header{}
    &__Item{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__Image{
        border-radius: 10%;
        max-inline-size: 100%;
        // block-size: auto;
        width: 30%;
        aspect-ratio: 1.6;
    }
    &__Info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__Name{}
    &__Creator{}
}