@use './styles/partials/global' as *;
@use './styles/partials/variables' as *;   
@use './styles/partials/fonts' as *;
@import './styles/partials/mixins';

.header  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem;

    @include responsiveness('tablet') {
        
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0px;
        margin-left: 3rem;
        margin-right: 3rem;
    }
    @include responsiveness('desktop') { 
         
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0px;     
        margin-left: 7rem;
        margin-right: 7rem; 
    }
    &__logo{
        max-inline-size: 100%;
        width: 50%;
        line-height: 1.5rem;
        margin-bottom: 1rem;

        @include responsiveness('tablet') {
            
            width: 20%;
            margin: 0px;
        }
        @include responsiveness('desktop') {
             
            width: 15%;
            margin: 0px;

        }
    }
    &__functionalities{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       width: 100%;
       flex-wrap: wrap;

       @include responsiveness('tablet') {
        
        width: 65%;
    }
    @include responsiveness('desktop') {    
         
        width: 50%;     
    }
    }
    &__search{
       order: 1;
       width: 80%;
       height: 3rem;
       border-radius: 0.25rem;
       background-color: $colorSecAl;
       background-image: url('./assets/Icons/search.svg');
       background-position: 4% center;
       background-repeat: no-repeat;
       text-align: start;
       border: 1px $colorSecMer solid;
       padding-left: 15%;
       margin-bottom: 1rem;
       vertical-align: middle;
       font-family: 'AvenirNext LT Pro', sans-serif;

       @include responsiveness('tablet') {
        order:0;
        width: 50%;
        margin: 0px;
        // height: 4rem;
     }
      @include responsiveness('desktop') { 
        order:0;
        width: 50%;
        margin: 0px; 
        height: 4rem;       
      }
    }

    &__upload{
        order: 3;
        width: 100%;
        @include SizeLineWeight(0.7rem, 3rem, 700);
        background-color: $colorBlue;
        color: $colorW;
        background-image: url('./assets/Icons/upload.svg');
       background-position: 4% center;
       background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 0.25rem;
        border: 0px;

        @include responsiveness('tablet') {
            order:0;
            width: 30%;
            
        }
        @include responsiveness('desktop') {      
            order:0;
            width: 30%;   
        }
        
    }
    &__upload:hover{
        background-color: $colorSecBlue;
    }

    &__image{
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        order: 2;

        @include responsiveness('tablet') {
            order:0;
            
        
        }
        @include responsiveness('desktop') {
            width: 4rem;
            height: 4rem;
            order:0;
        }
        
    }

}

.main{

    @include responsiveness('tablet') {
    }
    @include responsiveness('desktop') {         
    }
}

.video-Image{
    max-inline-size: 100%;
    width: 100%;
    aspect-ratio: 1.6;
    @include responsiveness('tablet') {
    }
    @include responsiveness('desktop') {         
    }
}

.main-video{
    margin: 1rem;

    @include responsiveness('tablet') {
    }
    @include responsiveness('desktop') {         
    }
    &__header{
        @include SizeLineWeight(1.5rem, 2rem, 700);

        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') {         
        }
    }

    &__info{
        border-top: 1px $colorSecMer solid;
        border-bottom: 1px $colorSecMer solid;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') {         
        }
    }

    &__info1{
        
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') {         
        }
    
    }
    
    &__author{ 
        @include SizeLineWeight(0.8rem, 1.1rem, 700);
        margin-bottom: 0px;
        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') {         
        }
    }

    &__date{
       color: $colorS;

       @include responsiveness('tablet') {
    }
    @include responsiveness('desktop') {         
    }
    
    }

    &__info2{
       
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') {         
        }
    }

    &__views{
        background-image: url('./assets/Icons/views.svg');
        background-position: 4% center;
        background-repeat: no-repeat;
        color: $colorS;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') {         
        }
    }

    &__likes{
        color: $colorS;
        background-image: url('./assets/Icons/likes.svg');
        background-position: 4% center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') {         
        }
    }

    &__details{

        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') {         
        }
    }
    
    &__text{
        @include SizeLineWeight(0.8rem, 1.1rem, 400);
        color: $colorB;

        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') {         
        }
    } 
}


.comment{
    margin: 1rem;
    @include responsiveness('tablet') {
    }
    @include responsiveness('desktop') {         
    }
    &__amount{
        @include SizeLineWeight(0.8rem, 1.1rem, 700);

        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') {         
        }
    }
    &__subdivision{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: end;
        padding-bottom: 1.2rem;
        
        @include responsiveness('tablet') {
            justify-content: end;
        }
        @include responsiveness('desktop') {
            justify-content: end;
            padding-right: 12rem;
            margin-left: 14rem;
            flex: 1 0 0;
        }}  
    &__image{
        border-radius: 50%;
        
        width: 3rem;
        height: 3rem;
        margin-top: 3rem;
        @include responsiveness('tablet') {
            margin-top: 3rem;
        
        }
        @include responsiveness('desktop') {
            margin-top: 3rem;
            
        }
    }
    &__form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        // width: 76%;
        flex: 1 1 76%;
        
        margin-left: 1rem;
        @include responsiveness('tablet') {
            min-width: 83%;
        }
        @include responsiveness('desktop') {
            flex: 1 0 0;
                   
        }
    }
    &__form-Label{
        margin: 0px;
        color: $colorS;
        margin-bottom: 0.5rem;
        margin-top: 1.5rem;
        @include SizeLineWeight(0.8rem, 1.25rem, 600);

        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') {         
        }
       
    }
    &__form-Input{
        border: 1px $colorSecMer solid;
        width: 100%;
        height: 7rem;
        border-radius: 0.25rem;
        padding: 0.75rem;
        background-color: $colorSecAl;
        font-family: 'AvenirNext LT Pro', sans-serif;
        padding-top: 1rem;
        @include responsiveness('tablet') {
            
            padding: 1rem;
            
        }
        @include responsiveness('desktop') {
            padding: 1rem;
        }

    }
    &__submit-Button{
        width: 100%;
        color: $colorW;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        border-radius: 0.2rem;
        border: 0px;
        margin-top: 1.5rem;
        @include SizeLineWeight(0.7rem, 1.25rem, 700);
        background-color: $colorBlue;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-image: url('./assets/Icons/add_comment.svg');
        background-position: 4% center;
        background-repeat: no-repeat;

        @include responsiveness('tablet') {
            width: 25%;
            align-self: end;
            
        }
        @include responsiveness('desktop') {
            width: 30%;
            align-self: end;
            
        }
       
        &--text{
            margin: 0px;
            text-align: center;
           
            @include responsiveness('tablet') {
            }
            @include responsiveness('desktop') {         
            }
        }
    }

    &__display{
        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') {         
        }
    }
    &__user{
        border-top: 1px $colorSecMer solid;
        border-bottom: 1px $colorSecMer solid;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: end;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        

        @include responsiveness('tablet') {
            justify-content: end;
            margin-left: 2rem;
        }
        @include responsiveness('desktop') {
            margin-right: 12rem;
            justify-content: end;
            margin-left: 14rem;
            flex: 1 0 0;
        }
    }
    &__user-Image{
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        background-color: $colorSecMer;

        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') {         
        }
        
    }
    &__user-Info{
        flex: 1 1 76%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-left: 1rem;
        
        @include responsiveness('tablet') {
            min-width: 88%;
            margin-left: 1rem;
        }
        @include responsiveness('desktop') {
            
            max-width: none;
            margin-left: 1rem;
            flex: 1 0 0;
              
        }
    }

    &__user-Name{
        margin: 0px;
        @include SizeLineWeight(0.8rem, 1.1rem, 700);
        @include responsiveness('tablet') {
            font-size: 0.9rem;
        }
        @include responsiveness('desktop') {
            font-size: 0.9rem;
        }
    }
    &__user-Date{
        margin: 0px;
        color: $colorS;
        @include SizeLineWeight(0.8rem, 1.1rem, 400);
        @include responsiveness('tablet') {
            font-size: 0.9rem;
        }
        @include responsiveness('desktop') {
            font-size: 0.9rem;
        }
    }
    &__user-Text{
        @include SizeLineWeight(0.8rem, 1.1rem, 400);
        margin-bottom: 0px;
        min-width: 100%;
        color: $colorB;

        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') {         
        }

    }
}

.side-videos{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    
    @include responsiveness('tablet') {
    }
    @include responsiveness('desktop') {         
    }

    &__header{ 
        color: $colorS;
        @include SizeLineWeight(0.8rem, 1.1rem, 600);

        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') {         
        }
    
    }
    &__Item{
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-bottom: 1rem;

        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') {         
        }
    }
    &__Image{
        border-radius: 10%;
        max-inline-size: 100%;
        block-size: auto;
        width: 40%;
        aspect-ratio: 1.4;

        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') {         
        }
    }
    &__Info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding-left: 0.5rem;

        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') {         
        }
    }
    &__Name{
        @include SizeLineWeight(0.8rem, 1.3rem, 700);
        margin: 0px;
        flex: 1 1 100%;

        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') {         
        }
    }
    &__Creator{
        color: $colorB;
        margin: 0px;

        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') {         
        }
    }
}