* {
  box-sizing: border-box;
  word-wrap: break-word;
}

body {
  font-family: "AvenirNext LT Pro", sans-serif;
  margin: 0px;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
.main-video {
  margin: 1rem;
}
@media (max-width: 1279.5px) and (min-width: 768px) {
  .main-video {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
@media (min-width: 1280px) {
  .main-video {
    margin: 0;
  }
}
.main-video__header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (max-width: 1279.5px) and (min-width: 768px) {
  .main-video__header {
    font-size: 2rem;
  }
}
@media (min-width: 1280px) {
  .main-video__header {
    font-size: 2rem;
  }
}
.main-video__info {
  border-top: 1.5px #E1E1E1 solid;
  border-bottom: 1.5px #E1E1E1 solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 1279.5px) and (min-width: 768px) {
  .main-video__info {
    border-top: 0;
    padding-bottom: 1rem;
  }
}
@media (min-width: 1280px) {
  .main-video__info {
    border-top: 0;
    padding-bottom: 1rem;
    padding-right: 1.5rem;
  }
}
.main-video__info-First {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 1279.5px) and (min-width: 768px) {
  .main-video__info-First {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 35%;
  }
}
@media (min-width: 1280px) {
  .main-video__info-First {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 35%;
  }
}
.main-video__author {
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-weight: 700;
  margin-bottom: 0;
}
@media (max-width: 1279.5px) and (min-width: 768px) {
  .main-video__author {
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .main-video__author {
    margin: 0;
  }
}
.main-video__date {
  color: #AFAFAF;
}
@media (max-width: 1279.5px) and (min-width: 768px) {
  .main-video__date {
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .main-video__date {
    margin: 0;
  }
}
.main-video__info-Second {
  border: 2px red solid;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 1279.5px) and (min-width: 768px) {
  .main-video__info-Second {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 35%;
  }
}
@media (min-width: 1280px) {
  .main-video__info-Second {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 35%;
  }
}
.main-video__views {
  border: 2px red solid;
  background-image: url("../../assets/Icons/views.svg");
  background-position: 4% center;
  background-repeat: no-repeat;
  color: #AFAFAF;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
@media (max-width: 1279.5px) and (min-width: 768px) {
  .main-video__views {
    margin: 0;
    width: 40%;
    align-items: end;
  }
}
@media (min-width: 1280px) {
  .main-video__views {
    margin: 0;
    width: 40%;
    align-items: end;
  }
}
.main-video__likes {
  border: 2px red solid;
  color: #AFAFAF;
  background-image: url("../../assets/Icons/likes.svg");
  background-position: 4% center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1279.5px) and (min-width: 768px) {
  .main-video__likes {
    margin: 0;
    width: 60%;
    align-items: end;
    background-position: center;
  }
}
@media (min-width: 1280px) {
  .main-video__likes {
    margin: 0;
    width: 60%;
    align-items: end;
    background-position: center;
  }
}
.main-video__text {
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-weight: 400;
  color: #323232;
}
@media (max-width: 1279.5px) and (min-width: 768px) {
  .main-video__text {
    margin-top: 2rem;
    width: 95%;
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 400;
  }
}
@media (min-width: 1280px) {
  .main-video__text {
    margin-top: 2rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 400;
    padding-right: 1.5rem;
  }
}

.comment {
  margin: 1rem;
}
@media (max-width: 1279.5px) and (min-width: 768px) {
  .comment {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
@media (min-width: 1280px) {
  .comment {
    margin: 0;
  }
}
.comment__amount {
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-weight: 700;
}
@media (max-width: 1279.5px) and (min-width: 768px) {
  .comment__amount {
    font-size: 0.9rem;
  }
}
@media (min-width: 1280px) {
  .comment__amount {
    font-size: 0.9rem;
  }
}
.comment__subdivision {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  padding-bottom: 1.2rem;
}
@media (max-width: 1279.5px) and (min-width: 768px) {
  .comment__subdivision {
    justify-content: end;
  }
}
@media (min-width: 1280px) {
  .comment__subdivision {
    justify-content: end;
    margin-left: 1rem;
  }
}
.comment__image {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin-top: 3rem;
}
@media (max-width: 1279.5px) and (min-width: 768px) {
  .comment__image {
    margin-top: 3.5rem;
  }
}
.comment__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 76%;
  margin-left: 1rem;
}
@media (max-width: 1279.5px) and (min-width: 768px) {
  .comment__form {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .comment__form {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1.5rem;
  }
}
.comment__form-Label {
  margin: 1.5rem 0 0.5rem;
  color: #AFAFAF;
  font-size: 0.8rem;
  line-height: 1.25rem;
  font-weight: 600;
}
@media (max-width: 1279.5px) and (min-width: 768px) {
  .comment__form-Label {
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .comment__form-Label {
    width: 100%;
  }
}
.comment__form-Input {
  border: 1px #E1E1E1 solid;
  width: 100%;
  height: 7rem;
  border-radius: 0.25rem;
  padding: 0.75rem;
  background-color: #FAFAFA;
  font-family: "AvenirNext LT Pro", sans-serif;
  padding-top: 1rem;
  overflow-y: hidden;
}
@media (max-width: 1279.5px) and (min-width: 768px) {
  .comment__form-Input {
    width: 70%;
    padding: 1rem;
    height: 3rem;
  }
}
@media (min-width: 1280px) {
  .comment__form-Input {
    width: 70%;
    padding: 1rem;
    height: 3rem;
  }
}
.comment__submit-Button {
  width: 100%;
  color: #FFFFFF;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-radius: 0.2rem;
  border: 0;
  margin-top: 1.5rem;
  font-size: 0.7rem;
  line-height: 1.25rem;
  font-weight: 700;
  background-color: #0095FF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/Icons/add_comment.svg");
  background-position: 4% center;
  background-repeat: no-repeat;
}
@media (max-width: 1279.5px) and (min-width: 768px) {
  .comment__submit-Button {
    width: 25%;
    height: 3rem;
    align-self: end;
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .comment__submit-Button {
    width: 25%;
    height: 3rem;
    align-self: end;
    margin: 0;
  }
}
.comment__submit-Button--text {
  margin: 0;
  text-align: center;
}
.comment__submit-Button:hover {
  background-color: #0065AD;
}
.comment__user {
  border-top: 1px #E1E1E1 solid;
  border-bottom: 1px #E1E1E1 solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
@media (max-width: 1279.5px) and (min-width: 768px) {
  .comment__user {
    justify-content: end;
  }
}
@media (min-width: 1280px) {
  .comment__user {
    justify-content: end;
    margin-left: 1rem;
  }
}
.comment__user--border {
  border-bottom: 0;
}
.comment__user-Image {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: #E1E1E1;
}
.comment__user-Info {
  flex: 1 1 76%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
}
@media (max-width: 1279.5px) and (min-width: 768px) {
  .comment__user-Info {
    min-width: 88%;
    margin-left: 1rem;
  }
}
@media (min-width: 1280px) {
  .comment__user-Info {
    max-width: none;
    margin-left: 1rem;
    flex: 1 0 0;
    padding-right: 1.5rem;
  }
}
.comment__user-Name {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-weight: 700;
}
@media (max-width: 1279.5px) and (min-width: 768px) {
  .comment__user-Name {
    font-size: 0.9rem;
  }
}
@media (min-width: 1280px) {
  .comment__user-Name {
    font-size: 0.9rem;
  }
}
.comment__user-Date {
  margin: 0;
  color: #AFAFAF;
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-weight: 400;
}
@media (max-width: 1279.5px) and (min-width: 768px) {
  .comment__user-Date {
    font-size: 0.9rem;
  }
}
@media (min-width: 1280px) {
  .comment__user-Date {
    font-size: 0.9rem;
  }
}
.comment__user-Text {
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-weight: 400;
  margin-bottom: 0;
  min-width: 100%;
  color: #323232;
}
@media (max-width: 1279.5px) and (min-width: 768px) {
  .comment__user-Text {
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 400;
  }
}
@media (min-width: 1280px) {
  .comment__user-Text {
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 400;
  }
}
.comment__user-Delete {
  margin-top: 1rem;
  color: #FFFFFF;
  border-radius: 0.2rem;
  border: 0;
  font-size: 0.7rem;
  line-height: 1.25rem;
  font-weight: 700;
  background-color: #0095FF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=MainVideo.css.map */